@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Regina';
    src: url('./assets/fonts/Regina.woff') format('woff'),
      /* Modern Browsers */ url('./assets/fonts/Regina.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }
}
